# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Pang.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Michael Lev\Pang\.idea\.idea.Pang\.idea/dataSources/
/dataSources.local.xml
